<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<template th:replace="common/introduce::AdminSemanticCSS(~{::title})">
    <title>修改密码</title>
</template>

<body>
<!--导航 -->
<nav th:replace="common/common::menu(1)" ></nav>



<!--中间内容-->
<div class="my-container-xsmall my-padded-tb-big ui   ">
    <div class="ui container required  top-size4">
        <div class="ui top attached segment">

        <i class="edit outline icon"></i> 修改密码

    </div>

        <div class="ui  attached segment ">
            <div class="my-margin-left">
            用户名:
            <div class="ui left icon input ">
             <i class="user icon"></i>
                <input type="text" name="name" id="user" placeholder="用户名(必填)">
            </div>
    </div>
        </div>
        <div class="ui  attached segment ">
            <div class="my-margin-left-tiny">
                输入新的密码:
                <div class="ui left icon input ">
                    <i class="eraser icon"></i>
                    <input type="password" name="password" id="password" placeholder="密码(必填)">
                </div>
            </div>
        </div>

        <button type="button" id="updatePassword" class="ui   floated  basic submit  button2  ">提交</button>

        </div>
</div>
</div>



<!--音乐插件-->
<template th:replace="common/introduce::mesuic"></template>
<template th:replace="common/common::footer"></template>
<template th:replace="common/introduce::AdminSemanticJs"></template>


<script>

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('.ui.form').form({
        fields: {
            name: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '用户名不能为空'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '密码不能为空'
                }]
            },
        }
    })

    $("#updatePassword").click(function (){
        var user=$("#user").val();
        var password=$("#password").val();
        if(user==""){
            alert("用户名不能为空");
            return;
        }
        if(password==""){
            alert("密码不能为空");
            return;
        }
        $.ajax({
            url:'/admin/updatePassword',
            data:{
              _method:'put',
              user:user,
              password:password
            },
            type:'put',
            dataType:'json',
            success:function (data){
                if(data.code=="200"){
                    alert("修改成功");

                }else{
                    alert("修改失败");
                }
            }
        })
    })
</script>
</body>
</html>